
body, html {
	font-family: 'Roboto', sans-serif;
}
#header {
	width: 100%;
	background-color: transparent;
	transition: background ease-out .2s;
}
#header .navbar-collapse {
	width: auto;
}
#header .nav-link {
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 0;
	font-weight: 500;
	color: black;
	border-bottom: solid 4px transparent;
}
#header .nav-link:hover {
	border-bottom: 4px solid var(--secondary);
	color: var(--secondary);
}